<div class="inputOutputRegion">
  <p>[START - input-output.component.html]</p>

  <p [style.text-decoration]="lineThrough">Item parent: {{item}}</p>
  <button type="button" (click)="deleteItem()">Call deleteItem()</button>

  <p>Change parent padding:
    <select [(ngModel)]="currentSelectedPadding" (change)="changeParentPadding()">
      <option value="10px">10px</option>
      <option value="20px">20px</option>
      <option value="30px">30px</option>
      <option value="60px">60px</option>
    </select>
    </p>

  <p>[END   - input-output.component.html]</p>
</div>
