
<div
  class="mainRegion"
  [style.padding]="padding4Parent"
  [style.background]="background4Parent"
>
The main data of app.component.html<br/>
Nội dung file chính ...<br/>

  <p>Chọn Dynamic Component
    <select (change)="loadComponentUI($event)">
      <option value="0">Dyanmic Component 01</option>
      <option value="1">Dyanmic Component 02</option>
      <option value="2">Dyanmic Component 03 - New Custom</option>
    </select>
  </p>

  <p>
    <input type="text" [(ngModel)]="inputValue01" (keyup)="changeInputValue01($event)"/>
  </p>

  <hr/>
  <ng-template tplPlaceHolder></ng-template>

</div>
