
The main app.component.html
<hr/>
Tạo 1 Directive và đưa vào các field dưới dạng attribute [appHighlight] với rule như sau:
<br/> - Lấy màu trong selected radio làm màu nền khi enter component
<br/> - Khi ra khỏi component thì gỡ màu nền
<br/> - Khi click vào component thì hightlight màu cam
<hr/>

<h4>Pick a highlight color</h4>
<div #myNameElem>
  <input id="idGreen" type="radio" name="colors" (click)="color='lightgreen'" checked />
  <label for="idGreen" style="background:lightgreen; font-weight:bold;">Green</label>

  <input id="idYellow" type="radio" name="colors" (click)="color='yellow'" />
  <label for="idYellow" style="background:yellow; font-weight:bold;">Yellow</label>

  <input id="idCyan" type="radio" name="colors" (click)="color='cyan'">
  <label for="idCyan" style="background:cyan; font-weight:bold;">Cyan</label>
</div>



<!-- Vùng sử dụng Directives -->
<p [appHighlight]="color" style="padding:30px; border: 2px dashed red;">Highlight me!</p>

<input [appHighlight]="color" type="text" value="Text Value 01" style="width:100%" />
<hr/>

<textarea cols="100" rows="20" [appHighlight]="color">
  This is the TextArea
</textarea>
<hr/>


