
The main data of app.component.html
<br/>

<div>
  Nội dung file chính ...
  <hr/>
  Danh sách tĩnh trong code ...
  <p *ngFor="let housingLocation of housingLocationList">
      <b>Dòng data hiện tại:</b>
      - id: {{ housingLocation.id }}
      - name: {{ housingLocation.name }}
      - city: {{ housingLocation.city }}
  </p>
  <hr/>
  Danh sách nạp từ Http RESTful API<br/>
  http://localhost:9000/list-users<br/>
  <hr/>

  <div *ngIf="listUsers && listUsers.length > 0">
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      <tr *ngFor="let objUser of listUsers">
        <th>{{ objUser.id }}</th>
        <td>{{ objUser.name }}</td>
        <td>{{ objUser.email }}</td>
        <td>{{ objUser.phone }}</td>
      </tr>
    </table>
  </div>

  <hr/>
  Kết quả xóa user:
  <div>
    <span style="color:red;">{{ messageDeleteUser }}</span>
  </div>

</div>
